<template>
  <v-footer
    dark
    padless
    fixed
  >
    <v-card
      class="flex"
      flat
      tile
    >
      <v-card flat class="py-2 white--text text-center secondary">
        <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-4"
          icon
        >
          <v-icon size="24px">{{ icon }}</v-icon>
        </v-btn>
      </v-card>
      <v-divider></v-divider>
      <v-card-text class="py-2 white--text text-center secondary">
        {{ new Date().getFullYear() }} — <strong>Cherese Eriepa</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>
<script>
  export default {
    data: () => ({
      icons: [
        'mdi-facebook',
        'mdi-twitter',
        'mdi-outlook',
        'mdi-linkedin',
        'mdi-instagram',
      ],
    }),
  }
</script>