<template>
    <v-toolbar flat tile>
      <v-toolbar-title>
        <v-btn text depressed to='/'>cherese eriepa</v-btn>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn :key="item"
          v-for="item in items"
          text 
          active-class="primary white--text" 
          depressed 
          :to="`/${item}`"
        >
          {{ item }}
        </v-btn>
        <ContactBtnDialog/>
      </v-toolbar-items>
    </v-toolbar>
</template>
<script>
import ContactBtnDialog from './ContactBtnDialog'

export default {
  components: {
    ContactBtnDialog
  },
  data () {
    return {
      items: [
        'home', 'about', 'portfolio', 'blog'
      ]
    }
  }
}
</script>