<template>
  <v-app>
    <v-app-bar app>
      <ToolBar />
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-content>

      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>

    <v-footer app>
      <Footer />
    </v-footer>
  </v-app>
</template>

<script>
import ToolBar from './components/ToolBar.vue'
import Footer from './components/Footer.vue'

export default {
  name: 'app',
  components: {
    ToolBar,
    Footer
  }
}
</script>